.wrapperNavBottom {
  --heightNavBottom: 44px;
  background-color: #fdfdfe;
  box-shadow: 0 0px 3px 2px rgb(0 0 0 / 30%);
  width: 100%;
  height: var(--heightNavBottom);
  position: relative;

  li {
    position: relative;
    height: var(--heightNavBottom);
  }

  .line {
    background-color: var(--primary);
    transform-origin: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .navBottomItem {
    line-height: var(--heightNavBottom);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    padding: calc((var(--heightNavBottom)) / 4) 0;

    &:hover ~ .line {
      height: 4px;
      animation: lineScale ease-in 0.3s;
    }
  }
}

@keyframes lineScale {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.containerNavBottom {
  padding: 0;
}

.navBottomList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  height: 44px;
}

.navBottomItem {
  cursor: pointer;
  color: var(--white);
  font-weight: 700;
}

@media (max-width: 1043px) {
  .navBottomList {
    display: none;
  }
}
