.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapperNav {
  background-color: transparent;
  height: var(--heightHeaderTop);
  display: inline-flex;
  flex: 1;
  justify-content: end;

  .containerNav {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .navList {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;

    margin-bottom: 0;
    width: 625px;
    max-width: 100%;

    // gap: 30px;
  }

  .navItem {
    color: var(--white);
    font-weight: 600;
    font-size: 1.6rem;
    margin-left: 20px;
  }
}

.iconAndSearchWrapper {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}

.btnSearch {
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
}

.flagWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 22px;
}

.iconFlag {
  height: 18px;
  width: 25px;
  background-size: cover;
  background-position: center center;
  display: block;
  box-shadow: 0 0px 2px 1px #00000026;
}

@media (max-width: 1124px) {
  .wrapperNav {
    .navList {
      width: unset;
    }
    .navItem {
      margin-left: 10px;
    }
  }
}

@media (max-width: 1043px) {
  .wrapper {
    display: none;
  }
}
